Repository armosec/kubecop, pull requests merged in 2023-11, with the labels that each got.

#48 Feature/engine access
  pkg/engine/container.go
  pkg/engine/containeridcache.go
  pkg/engine/processing.go
  pkg/engine/rule/gen_rule_files.py
  pkg/engine/rule/r0001_exec_whitelisted.go
  pkg/engine/rule/r0001_exec_whitelisted_test.go
  pkg/engine/rule/r0002_unexpected_file_access.go
  pkg/engine/rule/r0002_unexpected_file_access_test.go
  pkg/engine/rule/r0003_unexpected_system_call.go
  pkg/engine/rule/r0003_unexpected_system_call_test.go
  pkg/engine/rule/r0004_unexpected_capability_used.go
  pkg/engine/rule/r0004_unexpected_capability_used_test.go
  pkg/engine/rule/r0005_unexpected_domain_request.go
  pkg/engine/rule/r0005_unexpected_domain_request_test.go
  pkg/engine/rule/r0006_exec_binary_not_in_base_image.go
  pkg/engine/rule/r0006_exec_binary_not_in_base_image_test.go
  pkg/engine/rule/r0007_load_kernel_module.go
  pkg/engine/rule/r0007_load_kernel_module_test.go
  pkg/engine/rule/r1000_exec_from_malicious_source.go
  pkg/engine/rule/r1000_exec_from_malicious_source_test.go
  pkg/engine/rule/rule.go
  pkg/engine/rule/types.go
Labels: requires-system-test

#39 systests improvements
  .github/workflows/release.yaml
  .github/workflows/system-tests.yaml
  .gitignore
  scripts/run-system-tests.sh
  system-tests/creation_app_profile_memory_leak.py
  system-tests/kill_in_the_middle.py
  system-tests/load_10k_alerts_no_memory.py
  system-tests/promtopic.py
  system-tests/run.py
Labels: testing, requires-system-test

#52 Improve rule remediation with exact fix proposals
  go.mod
  go.sum
  pkg/approfilecache/cache.go
  pkg/approfilecache/types.go
  pkg/engine/engine_test.go
  pkg/engine/processing.go
  pkg/engine/router.go
  pkg/engine/rule/mock.go
  pkg/engine/rule/r0001_exec_whitelisted.go
  pkg/engine/rule/r0001_exec_whitelisted_test.go
  pkg/engine/rule/r0002_unexpected_file_access.go
  pkg/engine/rule/r0003_unexpected_system_call.go
  pkg/engine/rule/r0004_unexpected_capability_used.go
  pkg/engine/rule/r0005_unexpected_domain_request.go
  pkg/engine/rule/r0006_exec_binary_not_in_base_image.go
  pkg/engine/rule/r0007_load_kernel_module.go
  pkg/engine/rule/r1000_exec_from_malicious_source.go
  pkg/engine/rule/rule.go
  pkg/exporters/alert_manager.go
  scripts/setup-system-test-cluster.sh
Labels: requires-system-test

#51 Renamed typo in struct
  pkg/approfilecache/cache.go
Labels: requires-system-test

#53 Saving PNGs even if test fails
  .github/workflows/system-tests.yaml
  pkg/exporters/alert_manager.go
  pkg/exporters/alert_manager_test.go
  system-tests/load_10k_alerts_no_memory.py
  system-tests/pprof.py
  system-tests/run.py
Labels: requires-system-test

#62 Feature/exec from mount
  chart/kubecop/crds/runtime-rule-binding.crd.yaml
  pkg/engine/rule/README.md
  pkg/engine/rule/factory.go
  pkg/engine/rule/r1001_exec_binary_not_in_base_image.go
  pkg/engine/rule/r1004_exec_from_mount.go
  pkg/engine/rule/r1004_exec_from_mount_test.go
  pkg/rulebindingstore/crd.yaml
  pkg/rulebindingstore/testdata/rulebindingsfiles/all-rules-all-pods.yaml
  pkg/rulebindingstore/testdata/rulebindingsfiles/all-rules-for-app-nginx-default-ns.yaml
  pkg/rulebindingstore/testdata/rulebindingsfiles/all-rules-for-app-nginx.yaml
  pkg/rulebindingstore/testdata/rulebindingsfiles/all-rules-for-default-ns.yaml
Labels: enhancement

#65 Adding k8s client rule - version 1
  chart/kubecop/crds/runtime-rule-binding.crd.yaml
  pkg/engine/rule/factory.go
  pkg/engine/rule/r0001_unexpected_process_launched.go
  pkg/engine/rule/r0001_unexpected_process_launched_test.go
  pkg/engine/rule/r1000_exec_from_malicious_source.go
  pkg/engine/rule/r1001_exec_binary_not_in_base_image.go
  pkg/engine/rule/r1005_kubernetes_client_executed.go
  pkg/engine/rule/r1005_kubernetes_client_executed_test.go
  pkg/rulebindingstore/crd.yaml
  pkg/rulebindingstore/testdata/rulebindingsfiles/all-rules-all-pods.yaml
  pkg/rulebindingstore/testdata/rulebindingsfiles/all-rules-for-app-nginx-default-ns.yaml
  pkg/rulebindingstore/testdata/rulebindingsfiles/all-rules-for-app-nginx.yaml
  pkg/rulebindingstore/testdata/rulebindingsfiles/all-rules-for-default-ns.yaml
Labels: enhancement

#66 Feature/readme
  README.md
Labels: enhancement
